## Dados com variáveis

In [1]:
# importando pacotes, sqlite3, random, time, datetime, os
import os
import sqlite3
import random
import time
import datetime

In [49]:
# remove o arquivo (caso exista)
def remove():
    '''
        remove o arquivo
        SQLite (caso exista)
    '''
    # remove arquivo com o banco de dados SQLite (caso exista)
    os.remove('produtos.db') if os.path.exists('produtos.db') else None

In [2]:
# criando conexão
conn = sqlite3.connect('produtos.db')

# criando cursor
cur = conn.cursor()

In [6]:
# cria a tabela
def create_table():
    '''
        cria tabela produtos
    '''
    cur.execute('CREATE TABLE IF NOT EXISTS produtos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, prod_name TEXT, valor REAL)')

In [7]:
# insere na tabela
def data_insert():
    '''
        insere valor na tabela
        entrega commit
    '''
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_value = random.randrange(50, 100)
    cur.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_value))
    conn.commit()
    # fechando cursor, conexão
    cur.close()
    conn.close()

In [10]:
# recuperando valor
def data_select():
    cur.execute('SELECT id, date, prod_name, valor FROM produtos')
    recset = cur.fetchall()
    return recset

In [13]:
# imprimindo os valores
def data_imprime(recset):
    for row in recset:
        print('Produtos')
        print('Id: %s, Date: %s, Nome: %s, Valor: %s'%row)

In [8]:
# criando tabela
create_table()

In [9]:
# gerando valores e inserindo na tabela
for i in range(10):
    data_insert()
    time.sleep(1)

In [11]:
#recuperando valor
recset = data_select()

In [14]:
# mostrando o valor
data_imprime(recset)

Produtos
Id: 1, Date: 2020-03-17 10:18:39.712008, Nome: Monitor, Valor: 56.0
Produtos
Id: 2, Date: 2020-03-17 10:18:40.736482, Nome: Monitor, Valor: 77.0
Produtos
Id: 3, Date: 2020-03-17 10:18:41.738458, Nome: Monitor, Valor: 62.0
Produtos
Id: 4, Date: 2020-03-17 10:18:42.738492, Nome: Monitor, Valor: 61.0
Produtos
Id: 5, Date: 2020-03-17 10:18:43.749719, Nome: Monitor, Valor: 80.0
Produtos
Id: 6, Date: 2020-03-17 10:18:44.760513, Nome: Monitor, Valor: 84.0
Produtos
Id: 7, Date: 2020-03-17 10:18:45.770584, Nome: Monitor, Valor: 60.0
Produtos
Id: 8, Date: 2020-03-17 10:18:46.774138, Nome: Monitor, Valor: 94.0
Produtos
Id: 9, Date: 2020-03-17 10:18:47.777252, Nome: Monitor, Valor: 56.0
Produtos
Id: 10, Date: 2020-03-17 10:18:48.781388, Nome: Monitor, Valor: 86.0

## Fim